<mat-toolbar color="primary">
  <a routerLink="/" >Online-Arcade</a>

  <!-- This fills the remaining space of the current row -->
  <span class="spacer"></span>

  <ul fxLayout="row">
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Sign in</a>
    </li>
    <li>
      <a mat-button routerLink="/register" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Sign up</a>
    </li>
    <li>
      <button mat-button (click)="logout()" *ngIf="userIsAuthenticated">Logout</button>
    </li>
  </ul>
</mat-toolbar>
