.games{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
}

mat-card img{
  object-fit: cover;
  width: 40%;
  height: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.checkbox {
  width: 30%;
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

mat-card-title {
  display: flex;
  justify-content: center;
}

mat-spinner {
  margin: auto;
}

mat-expansion-panel {
  width: 75%;
  margin: auto;
  margin-top:3%;
}
