<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{game?.title}}
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{game?.images[0]}}" alt="{{game?.title}} image">
  <mat-card-content>
    <p>{{game?.description}}</p>
    <p>Rating: {{rating}}/10 ({{count}})</p>
      <div *ngIf="isUserAuthenticated">
        <mat-slider min="1" max="10" value="5" [(ngModel)]="value" thumbLabel tickInterval="1"></mat-slider>
        <button mat-button (click)="rateGame(value)" color="primary">Ok</button>
      </div>
    <p>Genre: {{game?.genre}}</p>
    <p>Release: {{game?.releaseDate.getFullYear()}}</p>
  </mat-card-content>
</mat-card>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Comments
    </mat-panel-title>
    <mat-panel-description>
      Let me see!
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let comment of comments" >
      {{comment.commentDate.toLocaleString()}},
      <br>{{comment.content}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <form *ngIf="isUserAuthenticated" (submit)="comment(commentForm)" #commentForm="ngForm">

  <mat-form-field class="comment-create-full-width">
    <input matInput ngModel name="content" #messageInput="ngModel" maxlength="256"  placeholder="Vélemény" required>
    <mat-hint align="end">{{messageInput?.value?.length}} / 256</mat-hint>

  </mat-form-field>
  <button mat-button type="submit" color="primary">Send</button>
</form>

</mat-expansion-panel>
