
mat-card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}

mat-card img{
  object-fit: cover;
  width: 40%;
  height: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

mat-expansion-panel {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
}

mat-form-field {
  width: 100%;
}
